@import "../vars.css";
@import "../reset.css";
html {
    background-color: var(--highlight)
}

body,
html {
    height: 100%;
}

header {
    position: fixed;
    background-color: white;
    width: 100%;
}

.leftSide__header__logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.leftSide__header__logo--wrapper {
    background-color: white;
    border-radius: 5px;
    max-width: 10em;
    padding: 1em;
}

.leftSide__header__logo--image {
    margin-left: 2em;
    width: 6em;
}

.leftSide__header__logo--image img {
    width: 100%;
    height: 100%;
}

.leftSide__header__pageTitle {
    font-size: 22px;
    color: #4c4c4c;
}

.selectorContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.groupComponent {
    width: 5em;
    background-color: white;
    border-radius: 4px;
    height: 10em;
    width: 30em;
    height: 32em;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.groupComponent:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06), 0 6px 6px rgba(0, 0, 0, 0.12);
    transition: all 0.2s ease-in;
}

.groupComponent:first-child {
    margin-right: 50px;
}

.groupComponent__text {
    margin-bottom: 20px;
    font-size: 20px;
    color: #4c4c4c;
}

.groupComponent__description {
    padding: 2em;
    text-align: center;
    color: #3c3c3c;
}


/* Components */

.footerStripe {
    width: 100%;
    height: 60px;
    background-color: var(--footerStripe);
    bottom: 0;
    position: fixed;
    z-index: -1;
    color: white;
    font-size: 12px;
}

.footerStripe a {
    color: white;
    text-decoration: underline;
}

.footerStripe a:after {
    content: "|";
    margin: 0 10px 0 10px;
}

.footerStripe a:last-child:after {
    content: "";
    margin: 0 10px 0 10px;
}

.footerStripe__container {
    display: flex;
    height: 100%;
    padding-left: 3em;
    align-items: center;
    font-weight: 900;
    justify-content: space-between;
}